<% provide(:title, t(:home)) %>
<% if signed_in? %>
<div class="row">
  <aside class="offset1 span10 offset1">
    <div>
      <% if @f.present? && current_user.show_fact? %>
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <h1><%= t(:challenge)%> [<%= link_to "#C#{@f.id}", @f %>]</h1>
      <%= render 'facts/fact' %>
      <div class="pull-right">
        <%= link_to t(:join), @f, :class => "btn btn-primary btn-large" %>        
      </div>
      <% end %>
    </div>
  </aside>
  <aside class="offset1 span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/argument_form' %>
    </section>
    <hr/>
    <div align="center">
      <%= link_to t(:msgs), msgs_path, class: "btn btn-large" %>
      <%= link_to t(:best), top_url, class: "btn btn-large btn-info" %>
      <hr/>
      <%= link_to t(:docs), documents_path, class: "btn btn-large btn-success" %>
      <hr/>
      <% if current_user.admin? %>
      <%= link_to 'Backup', backup_url, class: "btn btn-large btn-danger", confirm: t(:confirm) %>
      <% end %>
    </div>
  </aside>
  <div class="span6">
    <h3> <%= t(:timeline)%> </h3>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
<div class="row">
  <div class="span11">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item" align="center" style="height: 400px">
          <%= image_tag(t(:intro_png), :size => "800x394", :alt => t(:intro), :title => t(:intro)) %>
        </div>
        <div class="item" align="center" style="height: 400px">
          <%= image_tag(t(:intro1_png), :size => "800x394", :alt => t(:timeline), :title => t(:timeline)) %>
        </div>
        <div class="item" align="center" style="height: 400px">
          <%= image_tag(t(:intro2_png), :size => "800x394", :alt => t(:rating), :title => t(:rating)) %>
        </div>
        <div class="item" align="center" style="height: 400px">
          <%= image_tag(t(:intro3_png), :size => "800x394", :alt => t(:facts), :title => t(:facts)) %>
        </div>
        <div class="item" align="center" style="height: 400px">
          <%= image_tag(t(:intro4_png), :size => "800x394", :alt => t(:guide_arg), :title => t(:guide_arg)) %>
        </div>
        <div class="item" align="center" style="height: 400px">
          <%= image_tag(t(:intro5_png), :size => "800x394", :alt => t(:improvement), :title => t(:improvement)) %>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="span1">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="nailtongomes" data-lang="pt-BR" data-text="Arg. - O Assistente de Argumentação Jurídica"
    data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
    <hr/>
    <div class="fb-like" data-send="false" data-layout="box_count" data-width="56px" data-show-faces="false"></div>
  </div>
  <div class="span3 offset5">

  </div>
  <div class="span6" align="center" >
    <%= link_to t(:signup), signup_path, class: "btn btn-large btn-primary" %>
  </div>
  <div class="span6">
    <blockquote class="pull-right">
      <%= textilize Page.find_by_key(t(:phrase)).value if (Page.find_by_key(t(:phrase)).value.present?) %>
    </blockquote>
  </div>
</div>
<% content_for :script do %>
<div id="fb-root"></div>
<script>
  ( function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id))
        return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script>
  ! function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, "script", "twitter-wjs"); 
</script>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "ARG - Assistente de Argumentacao",
  "image" : "http://assistentearg.herokuapp.com/assets/intro-b21d49cfe11a952b2dde41e7d87c8323.png",
  "url" : "http://assistentearg.herokuapp.com",
  "author" : {
    "@type" : "Person",
    "name" : "Nailton Gomes Silva"
  }
}
</script>
<% end %>
<% end %>
