<div class="span12">
	<%= form_for(@sandarg) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="span12">
		<div class="span5">
			<b> <%= (:dsc_data) %>:</b>
			<%= f.text_area :ground,   :placeholder => t(:qst_data), :rows => "9"%>
		</div>
		<div class="span5 offset1">
			<b><%= (:ttl_qlfc) %> [Q]:</b>
			<%= f.text_field :qualifier, :placeholder => t(:qst_qlfc),
        :data => {:provide => "typeahead",
          :items => "4",
                              :source => '["necessariamente", "provavelmente", "talvez", "necessarily", "very possibly", "maybe", "puede ser", "muy posiblemente", "necesariamente"]'
        } %>
			<b><%= (:ttl_claim) %> [C]:</b>
			<%= f.text_area :claim, :placeholder => t(:qst_claim), :rows => "5"%>
		</div>
	</div>
	<div class="span10 offset1">
		<b><%= (:dsc_rule) %>:</b>
		<%= f.text_area :warrant,   :placeholder => t(:qst_rule), :rows => "1"%>
	</div>
	<div class="span10 offset1">
		<b><%= (:ttl_back) %> [B]:</b>
		<%= f.text_area :backing,   :placeholder => t(:qst_back), :rows => "1" %>
	</div>
	<div class="span10 offset1">
		<b><%= (:dsc_rbtl) %></b>
		<%= f.text_area :rebuttal,   :placeholder => t(:qst_rbtl), :rows => "1"%>
	</div>
	<div class="span5 pull-right">
		<br/>
		<% if @sandarg.content.blank? %>
		<%= t(:auto) %>
		<% else %>
		<%= t(:auto_not) %>
		<% end %>
		<%= f.check_box :overwrite %> |
		<%= f.submit t(:save), class: "btn btn-large btn-primary", :disable_with => t(:wait) %>
	</div>
	<% end %>
</div>
