<li id="<%= sandarg.id %>">  
    <span class="content"><%= sandarg.content %></span>
    <br/>
    <span class="timestamp">
      <%= t(:created_at) %> <%= time_ago_in_words(sandarg.created_at) %>
    </span>
  <% if current_user?(sandarg.user) %>
    <%= link_to t(:delete), feed_item, method:  :delete,
                                     confirm: t(:confirm),
                                     class: "btn btn-small btn-danger" %>
  <% end %>
</li>
