<% provide(:title, t(:title_guide)) %>
<div class="row">
  <div class="span12">
    <h1><%= t(:guide_arg) %></h1>
    <blockquote class="pull-right">
      <p>
        <%= t(:phrase_guide) %>
      </p>
      <small>Stephen Toulmin</small>
    </blockquote>
  </div>
  <div class="tabbable tabs-below">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#lA" data-toggle="tab"><%= t(:intro) %></a>
      </li>
      <li>
        <a href="#lB" data-toggle="tab"><%= t(:draft) %></a>
      </li>
      <li>
        <a href="#lC" data-toggle="tab"><%= t(:constructor) %></a>
      </li>
      <li>
        <a href="#lD" data-toggle="tab"><%= t(:references) %></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="lA">
        <div class="span8">
          <h3 style="text-align: center"><%= t(:intro) %></h3>
          <hr/>
          <%= textilize Page.find_by_key(t(:intro_guide)).value if Page.find_by_key(t(:intro_guide)).value.present? %>
        </div>
        <div class="span4">
          <h3 style="text-align: center"><%= t(:about) %> (<%= t(:argument) %>)</h3>
          <hr/>
          <p>
            <a class="btn btn-info" data-toggle="modal" href="#concept" ><%= t(:w_is) %></a>
          </p>
          <p>
            <a class="btn btn-info"  data-toggle="modal" href="#structure" ><%= t(:w_struture) %></a>
          </p>
          <p>
            <a class="btn btn-info"  data-toggle="modal" href="#quality" ><%= t(:w_quality) %></a>
          </p>
        </div>
      </div>

      <div class="tab-pane" id="lB">
        <div class="offset1 span10 offset1">
          <h3 style="text-align: center"> <%= t(:draft) %></h3>
          <hr/>
          <% if @sandargs.any? %>
          <% @sandargs.each do |sandarg| %>
          <div class="well">
            <h3> <%= t('activerecord.models.sandarg.one') %> [ <%= sandarg.id %> ]
            <%= link_to t(:improvement), improve_sandarg_path(sandarg), class: "btn btn-small btn-info" %>
            <%= link_to t(:open), sandarg, class: "btn btn-small" %>
            <%= link_to t(:delete), sandarg, method: :delete, confirm: t(:confirm), class: "btn btn-small btn-danger" %> </h3>
            <p>
              <% if sandarg.content.present? %>
              <%= sandarg.content %>
              <% else %>
                <%= t(:sand_empty) %>
              <% end %>
            </p>
          </div>
          <% end %>
          <% else %>
          <br/>
          <br/>
          <br/>
          <p>
            <%= t(:sand_emptys) %>
          </p>
          <br/>
          <br/>
          <% end %>
        </div>
      </div>

      <div class="tab-pane" id="lC">
        <h3 style="text-align: center"> <%= t('activerecord.models.sandarg.one') %></h3>
        <hr/>
        <%= form_for(@sandarg) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <!-- Indicators

          <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          </ol>
          -->

          <!-- Wrapper for slides -->

          <div class="carousel-inner">
            <div class="active item">
              <div class="span8 offset2">
                <a class="pull-right">1/6</a>
                <p>
                   <%= t(:dsc_claim) %>:
                </p>
                <%= f.text_area :claim,   :placeholder => t(:qst_claim), :rows => "5" %>
                <h2>1. <%= t(:ttl_claim) %> <a class="btn btn-warning pull-right" data-toggle="modal" href="#EPre" ><%= t(:explain) %></a></h2>
                <hr/>
              </div>
            </div>
            <div class="item">
              <div class="span8 offset2">
                <a class="pull-right">2/6</a>
                <p>
                  <%= t(:dsc_data) %>:
                </p>
                <%= f.text_area :ground,   :placeholder => t(:qst_data), :rows => "5"%>
                <h2>2. <%= t(:ttl_data) %> <a class="btn btn-warning pull-right" data-toggle="modal" href="#ERaz" ><%= t(:explain) %></a></h2>
                <hr/>
              </div>
            </div>
            <div class="item">
              <div class="span8 offset2">
                <a class="pull-right">3/6</a>
                <p>
                  <%= t(:dsc_rule) %>:
                </p>
                <%= f.text_area :warrant,   :placeholder => t(:qst_rule), :rows => "5"%>
                <h2>3. <%= t(:ttl_rule) %> <a class="btn btn-warning pull-right" data-toggle="modal" href="#EGar" ><%= t(:explain) %></a></h2>
                <hr/>

              </div>
            </div>
            <div class="item">
              <div class="span8 offset2">
                <a class="pull-right">4/6</a>
                <p>
                  <%= t(:dsc_back) %>:
                </p>
                <%= f.text_area :backing,   :placeholder => t(:qst_back), :rows => "5"%>
                <h2>4. <%= t(:ttl_back) %> <a class="btn btn-warning pull-right" data-toggle="modal" href="#ERes" ><%= t(:explain) %></a></h2>
                <hr/>

              </div>
            </div>
            <div class="item">
              <div class="span8 offset2">
                <a class="pull-right">5/6</a>
                <p>
                  <%= t(:dsc_rbtl) %>:
                </p>
                <%= f.text_area :rebuttal,   :placeholder => t(:qst_rbtl), :rows => "5"%>
                <h2>5. <%= t(:ttl_rbtl) %> <a class="btn btn-warning pull-right" data-toggle="modal" href="#ERef" ><%= t(:explain) %></a></h2>
                <hr/>
              </div>
            </div>
            <div class="item">
              <div class="span8 offset2">
                <a class="pull-right">6/6</a>
                <p>
                  <%= t(:dsc_qlfc) %>:
                </p>
                <%= f.text_field :qualifier, :placeholder => t(:qst_qlfc),
                  :data => {:provide => "typeahead",
                    :items => "4",
                    :source => '["necessariamente", "provavelmente", "talvez", "necessarily", "very possibly", "maybe", "puede ser", "muy posiblemente", "necesariamente"]'
                  }%>
                <h2>6. <%= t(:ttl_qlfc) %> <a class="btn btn-warning pull-right" data-toggle="modal" href="#EQua" ><%= t(:explain) %></a></h2>
                <hr/>
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        <div class="pull-right">
          <% if @sandarg.content.blank? %>
          <%= t(:auto) %>
          <% else %>
          <%= t(:auto_not) %>
          <% end %>
          <%= f.check_box :overwrite %> |
          <%= f.submit t(:save), class: "btn btn-large btn-primary", :disable_with => t(:wait) %>
        </div>
        <% end %>
      </div>

      <div class="tab-pane" id="lD">
        <div class="span8">
        <h3 style="text-align: center"><%= t(:references) %> </h3>
        <hr/>
        <%= textilize Page.find_by_key(t(:referencias).value if Page.find_by_key(t(:referencias)).value.present? %>
        </div>
        <div class="span4">
        <h3 style="text-align: center"><%= t(:suggestions) %>: </h3>
        <hr/>
        <%= textilize Page.find_by_key(t(:leituras)).value if Page.find_by_key(t(:leituras)).value.present? %>
        </div>                       
      </div>
    </div>
  </div>
</div>

<div class="modal hide" id="EPre">
  <div class="modal-header">
    <h3><%= t(:ttl_claim) %></h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key(t(:EPre)).value if Page.find_by_key(t(:EPre)).value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t(:cancel) %></a>
  </div>
</div>

<div class="modal hide" id="ERaz">
  <div class="modal-header">
    <h3><%= t(:ttl_data) %></h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key(t(:ERaz)).value if Page.find_by_key(t(:ERaz)).value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t(:cancel) %></a>
  </div>
</div>

<div class="modal hide" id="EGar">
  <div class="modal-header">
    <h3><%= t(:ttl_rule) %></h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key(t(:EGar)).value if Page.find_by_key(t(:EGar)).value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t(:cancel) %></a>
  </div>
</div>

<div class="modal hide" id="ERes">
  <div class="modal-header">
    <h3><%= t(:ttl_back) %></h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key(t(:ERes)).value if Page.find_by_key(t(:ERes)).value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t(:cancel) %></a>
  </div>
</div>

<div class="modal hide" id="ERef">
  <div class="modal-header">
    <h3><%= t(:ttl_rbtl) %></h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key(t(:ERef)).value if Page.find_by_key(t(:ERef)).value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t(:cancel) %></a>
  </div>
</div>

<div class="modal hide" id="EQua">
  <div class="modal-header">
    <h3><%= t(:ttl_qlfc) %></h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key(t(:EQua)).value if Page.find_by_key(t(:EQua)).value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t(:cancel) %></a>
  </div>
</div>

<div class="modal hide" id="concept">
  <div class="modal-header">
    <h3><%= t(:concept) %></h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key(t(:conceito_t)).value if Page.find_by_key(t(:conceito_t)).value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t(:cancel) %></a>
  </div>
</div>

<div class="modal hide" id="structure">
  <div class="modal-header">
    <h3><%= t(:structure) %></h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key(t(:estrutura_t)).value if Page.find_by_key(t(:estrutura_t)).value.present? %>
    <div align="center">
      <%= image_tag("Estrutura.png", :size => "250x400", :alt => t(:structure)) %>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t(:cancel) %></a>
  </div>
</div>

<div class="modal hide" id="quality">
  <div class="modal-header">
    <h3><%= t(:quality) %></h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key(t(:qualidade_t)).value if Page.find_by_key(t(:qualidade_t)).value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t(:cancel) %></a>
  </div>
</div>
