<% provide(:title, 'Guia de Argumentação - Toulmin') %>
<div class="row">
  <div class="span12">
    <h1><%= t(:guide_arg) %></h1>
    <blockquote class="pull-right">
      <p>
        "Argumentos são interações humanas pelas quais se formulam, se debatem e/ou se confrontam linhas de raciocínio."
      </p>
      <small>Stephen Toulmin</small>
    </blockquote>
  </div>
  <div class="tabbable tabs-below">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#lA" data-toggle="tab"><%= t(:intro) %></a>
      </li>
      <li>
        <a href="#lB" data-toggle="tab"><%= t(:draft) %></a>
      </li>
      <li>
        <a href="#lC" data-toggle="tab"><%= t(:constructor) %></a>
      </li>
      <li>
        <a href="#lD" data-toggle="tab"><%= t(:references) %></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="lA">
        <div class="span8">
          <h3 style="text-align: center"><%= t(:intro) %></h3>
          <hr/>
          <%= textilize Page.find_by_key(t(:intro_guide)).value if Page.find_by_key(t(:intro_guide)).value.present? %>
        </div>
        <div class="span4">
          <h3 style="text-align: center"><%= t(:about) %> (<%= t(:argument) %>)</h3>
          <hr/>
          <p>
            <a class="btn btn-info" data-toggle="modal" href="#conceito" >1. O que é?</a>
          </p>
          <p>
            <a class="btn btn-info"  data-toggle="modal" href="#estrutura" >2. Qual sua estrutura?</a>
          </p>
          <p>
            <a class="btn btn-info"  data-toggle="modal" href="#qualidade" >3. O que o torna bom?</a>
          </p>
        </div>
      </div>

      <div class="tab-pane" id="lB">
        <div class="offset1 span10 offset1">
          <h3 style="text-align: center">Meus Rascunhos</h3>
          <hr/>
          <% if @sandargs.any? %>
          <% @sandargs.each do |sandarg| %>
          <div class="well">
            <h3>Rascunho [ <%= sandarg.id %> ]
            <%= link_to "Aprimorar", improve_sandarg_path(sandarg), class: "btn btn-small btn-info" %>
            <%= link_to "Ver", sandarg, class: "btn btn-small" %>
            <%= link_to "Excluir", sandarg, method: :delete, confirm: "Tem certeza?", class: "btn btn-small btn-danger" %> </h3>
            <p>
              <% if sandarg.content.present? %>
              <%= sandarg.content %>
              <% else %>
              O texto do seu rascunho ainda não foi construído.
              <% end %>
            </p>
          </div>
          <% end %>
          <% else %>
          <br/>
          <br/>
          <br/>
          <p>
            Você <b>ainda não</b> possui rascunhos...
          </p>
          <br/>
          <br/>
          <% end %>
        </div>
      </div>

      <div class="tab-pane" id="lC">
        <h3 style="text-align: center">Rascunho de Argumento</h3>
        <hr/>
        <%= form_for(@sandarg) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <!-- Indicators

          <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          </ol>
          -->

          <!-- Wrapper for slides -->

          <div class="carousel-inner">
            <div class="active item">
              <div class="span8 offset2">
                <a class="pull-right">1/6</a>
                <p>
                  Cada argumento deve deve propor, reivindicar ou concluir alguma coisa [C]:
                </p>
                <%= f.text_area :claim,   :placeholder => "Ou seja, o que você está tentando provar?", :rows => "5"%>
                <h2>1. Pretensão/Conclusão <a class="btn btn-warning pull-right" data-toggle="modal" href="#EPre" >Explicar</a></h2>
                <hr/>
              </div>
            </div>
            <div class="item">
              <div class="span8 offset2">
                <a class="pull-right">2/6</a>
                <p>
                  Cada conclusão deve ser sustentada por fatos [G]:
                </p>
                <%= f.text_area :ground,   :placeholder => "Por que você supõe isso?", :rows => "5"%>
                <h2>2. Razões/Dados <a class="btn btn-warning pull-right" data-toggle="modal" href="#ERaz" >Explicar</a></h2>
                <hr/>
              </div>
            </div>
            <div class="item">
              <div class="span8 offset2">
                <a class="pull-right">3/6</a>
                <p>
                  Deve existir uma regra, um vínculo, entre a conclusão e os fatos [W]:
                </p>
                <%= f.text_area :warrant,   :placeholder => "Explique seu raciocínio...", :rows => "5"%>
                <h2>3. Garantia/Regra de Inferência <a class="btn btn-warning pull-right" data-toggle="modal" href="#EGar" >Explicar</a></h2>
                <hr/>

              </div>
            </div>
            <div class="item">
              <div class="span8 offset2">
                <a class="pull-right">4/6</a>
                <p>
                  As regras provém de um fundamento [B]:
                </p>
                <%= f.text_area :backing,   :placeholder => "O quê fundamenta seu raciocínio?", :rows => "5"%>
                <h2>4. Respaldo <a class="btn btn-warning pull-right" data-toggle="modal" href="#ERes" >Explicar</a></h2>
                <hr/>

              </div>
            </div>
            <div class="item">
              <div class="span8 offset2">
                <a class="pull-right">5/6</a>
                <p>
                  Cada argumento pode admitir excessões [R]:
                </p>
                <%= f.text_area :rebuttal,   :placeholder => "Há alguma situação em que seu argumento não se sustenta?", :rows => "5"%>
                <h2>5. Reserva/Refutador/Anulador <a class="btn pull-right" data-toggle="modal" href="#ERef" >Explicar</a></h2>
                <hr/>
              </div>
            </div>
            <div class="item">
              <div class="span8 offset2">
                <a class="pull-right">6/6</a>
                <p>
                  Cada argumento tem sua força verbalizada [Q]:
                </p>
                <%= f.text_field :qualifier, :placeholder => "Você acha provável ou é certo?",
                  :data => {:provide => "typeahead",
                    :items => "4",
                    :source => '["necessariamente", "provavelmente", "possivelmente","é plausível","é inconteste", "não resta dúvida", "estes fatos, aqui expostos, tornam inafastável que", "demonstra-se de forma irrefutável"]'
                  }%>
                <h2>6. Qualificador <a class="btn btn-warning pull-right" data-toggle="modal" href="#EQua" >Explicar</a></h2>
                <hr/>
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        <div class="pull-right">
          <% if @sandarg.content.blank? %>
          Gerar texto automático?
          <% else %>
          Sobrescrever texto do argumento?
          <% end %>
          <%= f.check_box :overwrite %> |
          <%= f.submit "Gravar", class: "btn btn-large btn-primary", :disable_with => "Aguarde..." %>
        </div>
        <% end %>
      </div>

      <div class="tab-pane" id="lD">
        <div class="span8">
        <h3 style="text-align: center">Referências </h3>
        <hr/>
        <%= textilize Page.find_by_key('referencias').value if Page.find_by_key('referencias').value.present? %>
        </div>
        <div class="span4">
        <h3 style="text-align: center">Sugestões de Leitura: </h3>
        <hr/>
        <%= textilize Page.find_by_key('leituras').value if Page.find_by_key('leituras').value.present? %>
        </div>                       
      </div>
    </div>
  </div>
</div>

<div class="modal hide" id="EPre">
  <div class="modal-header">
    <h3>Conclusão/Pretensão</h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key('EPre').value if Page.find_by_key('EPre').value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">fechar</a>
  </div>
</div>

<div class="modal hide" id="ERaz">
  <div class="modal-header">
    <h3>Razões/Dados</h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key('ERaz').value if Page.find_by_key('ERaz').value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">fechar</a>
  </div>
</div>

<div class="modal hide" id="EGar">
  <div class="modal-header">
    <h3>Garantia/Regra de Inferência</h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key('EGar').value if Page.find_by_key('EGar').value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">fechar</a>
  </div>
</div>

<div class="modal hide" id="ERes">
  <div class="modal-header">
    <h3>Respaldo</h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key('ERes').value if Page.find_by_key('ERes').value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">fechar</a>
  </div>
</div>

<div class="modal hide" id="ERef">
  <div class="modal-header">
    <h3>Condições de Refutação</h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key('ERef').value if Page.find_by_key('ERef').value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">fechar</a>
  </div>
</div>

<div class="modal hide" id="EQua">
  <div class="modal-header">
    <h3>Qualificador</h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key('EQua').value if Page.find_by_key('EQua').value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">fechar</a>
  </div>
</div>

<div class="modal hide" id="conceito">
  <div class="modal-header">
    <h3>Conceito de argumento</h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key('conceito_t').value if Page.find_by_key('conceito_t').value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">fechar</a>
  </div>
</div>

<div class="modal hide" id="estrutura">
  <div class="modal-header">
    <h3>Estrutura de um argumento</h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key('estrutura_t').value if Page.find_by_key('estrutura_t').value.present? %>
    <div align="center">
      <%= image_tag("Estrutura.png", :size => "250x400", :alt => "Estrutura de um Argumento") %>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">fechar</a>
  </div>
</div>

<div class="modal hide" id="qualidade">
  <div class="modal-header">
    <h3>Qualidade de argumentos</h3>
  </div>
  <div class="modal-body">
    <%= textilize Page.find_by_key('qualidade_t').value if Page.find_by_key('qualidade_t').value.present? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">fechar</a>
  </div>
</div>