<p><%= t(:greeting) %> <%= @user.name %>,</p>

<p><%= t('activerecord.attributes.user.password')%>: <strong><%= @pass %></strong></p>

<%= textilize Page.find_by_key(t(:recover_not)).value if Page.find_by_key(t(:recover_not)).value.present? %>
