<%= form_for(@scheme) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= t('activerecord.attributes.scheme.name') %>
<%= f.text_field :name, :placeholder => t('activerecord.attributes.scheme.name') %>
<%= t('activerecord.attributes.scheme.form') %>
<%= f.text_area :form, :placeholder => t('activerecord.attributes.scheme.form'), :rows => "5"%>
<%= t('activerecord.attributes.scheme.cq') %>
<%= f.text_area :cq, :placeholder => t('activerecord.attributes.scheme.cq'), :rows => "5"%>
<%= t('activerecord.attributes.scheme.lang') %>
<%= f.select :lang, options_for_select([['Português (PT-BR)', "pt-BR"], ['English (EN)', "en"], ['Español (ES)', "es-419"]], @fact.lang) %>

<hr/>
<div class="pull-right">
	<%= f.submit t(:save), class: "btn btn-large btn-primary", :disable_with => t(:wait) %>
</div>
<% end %> 
